@charset "UTF-8";

body {
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

#root {
  text-align: center;
  background-color: rgba(7, 255, 193, 0.85);
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

.color {
  display: inline-block;
  margin: 10px;
  border: 1px solid black;
  min-width: 75px;
  min-height: 75px;
  cursor: pointer;
}

.pixel {
  display: inline-block;
  border: 1px solid black;
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.pixel-line {
  max-height: 20px;
  width: 100%;
}

footer {
  margin-top: 20px;
}

button {
  margin-bottom: 10px;
}

.colors-ul {
  border-radius: 15px;
}

